body {
  font-family: "Roboto", sans-serif;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0;
}
.trigger:hover {
  color: #1890ff;
}
.ant-layout-content {
  background: transparent !important;
}
.logo {
  height: 32px;
  margin: 16px;
}
.sm-logo {
  display: none;
}
.lg-logo {
  transition: 0.3s;
}
.ant-layout-sider-collapsed .sm-logo {
  display: block;
  transition: 0.3s;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
  transition: 0.3s;
}
.ant-layout {
  min-height: 100vh;
}

.ant-layout-header h5 {
  line-height: 30px;
}
.ant-layout-header p {
  line-height: 20px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}
